@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


















/* _________________________ Mobile SITE CONFIGURATION _____________________________________________ */
@media  (max-width: 999px) {


  *{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  outline: none;
  text-decoration: none;
  }


  .outer-wrapper {
    /*  +++++++++  SNAP   MOBILE  STUFF ++++++++++ */
    scroll-snap-type: y mandatory;
  }
  .slide {
    width: 100vw;
    height: 100vh;
    
    scroll-snap-align: start;/*  +++++++++  SNAP  MOBILE  STUFF ++++++++++ */
    scroll-snap-stop: always;
  }








  .mute-btn {
    margin:1rem;
    width: 2rem;
    height: 2rem;
    

    z-index: 100;/* +++++++++++++ Remember that Z-INDEX only works after position: relative or absolute*/
    position: relative;

    border: none;
    background: url("media/mute.png") no-repeat;
    background-size: 2rem;/* to specify dimensions explicitly */
    cursor:pointer;
    opacity: .5;
  }

  .section-1 {
    background: #000;
    box-sizing: border-box;

    background-size: cover;
    width: 100vw;
    height:100vh;

    position: relative;
    z-index: 0;
  }
  .section-1-wrapper {
    background-size: cover;
    width: 100px;
    height:100px;

  }
  .section-1-heading-wrapper{
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-55%, -65%);
  }
  .section-1-heading {
    font-family: Roboto;
    font-size: 2em;
    font-weight: 300;
    letter-spacing:.1em;

    opacity:0;
    animation:fadeIn 5s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale3d(.75, .75,1);
  }
  to {
    opacity: 1;
    transform: scale3d( 1, 1, 1);
  }
}
  /*_______________________________________   H O M E     M O B I L E   ___________________________*/
  
  .section-2 {
    /* background: green; */
    width: 100vw;
    height:100vh;
  }
  .section-2-wrapper video{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    
}
#texture{
    z-index: 95;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url('media/texture.png');
    transition: 2000ms;
    
}
.home-options-wrapper {
    position: absolute;
}


#myVideo {
  filter: grayscale(100%);
  transition:4000ms;
}



#home-btns-wrapper {
    opacity: 0;
    /* position: relative;  +++++++ After a bizilion years, one container inside another, behold, the perfect centerization */
    position: absolute;
    z-index: 90;
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-50%, -50%);
    animation-delay: 1s;
    transition:35000ms;
}
  .home-btn {
    margin: auto;
    color: #fff;
    
    cursor:pointer;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Roboto", serif;
    
    padding: 1rem;
    display:flex;
    width: 100vw;
    justify-content: center;
    background: transparent;
    border: none;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 13px #000, 0 0 25px #000;
    transition: 1000ms;
  }

  .home-btn:hover {
    background: rgb(0, 0, 0, .4);
    
  }
  #click {
    height: 100vh;
    justify-content: center;/*THIS IS HOW YOU ACTUALY ALIGN STUFF ON A DIV*/
    align-content: end;
    object-fit:cover;
    display: grid;
    padding-bottom: 10rem;
  }
  #img-click {
    width: 100px;
    height: 100px;
  }

  /*_________________________________   S E C T I O N   3   MOBILE  ___________________________*/
  .section-3 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 300vh;
    display: block;
    /* ++++++++++++++++ DUDE, DUUUUDE, this is what makes alignment fly */
    /* display: flex; */
  }

  
  /* .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 20vh 35vh;
    margin: 0;
  } */
  .section-3 h2 {
    margin: 2rem;
    text-align: center;
  }
  .section-3 p {
    margin: 3rem 3rem;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Crimson Text";
  }
  
  .portraits-text-wrapper {
    grid-row: 1 / 2;
    background: #ffff;
    text-align: center;
  }
  .portraits-heading {
    font-family: "Crimson Pro";
    font-size: 2rem;
    font-weight: 700;
  }
  .portraits-img-wrapper {
    grid-row: 2 / 3;
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    margin-left:50%;
    margin-top: 50%;
    margin-bottom:100%;
    transform: translate(-50%, 50%);
    min-width: 230px;
    max-width: 100%;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .portraits-img-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 15s ease;
    transition: all 1s ease;
  }
  .portraits-img-wrapper img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .portraits-img-wrapper figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .portraits-img-wrapper h2,
  .portraits-img-wrapper p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .portraits-img-wrapper h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .portraits-img-wrapper p {
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
  }
  .portraits-img-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .portraits-img-wrapper:hover img,
  .portraits-img-wrapper.hover img {
    width: 55%;
    right: -10%;
  }
  .portraits-img-wrapper:hover figcaption h2,
  .portraits-img-wrapper.hover figcaption h2,
  .portraits-img-wrapper:hover figcaption p,
  .portraits-img-wrapper.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }





















  .home-imgs {
    max-width: 100%;
    max-height: 100%;
  }
  .button {
    margin: 2rem;
  }
  /* .weddings-img-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
    text-align: center;
  } */
  .weddings-text-wrapper {
    grid-row: 3 / 4;
    background: #ffff;
    text-align: center;
  }
  .weddings-heading {
    font-family: "Tangerine";
    font-size: 3rem;
  }
  
  .weddings-heading {
    font-family: "Tangerine";
    font-size: 3rem;
  }




  .weddings-img-wrapper {
    grid-row: 4 / 5;
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    margin-left:50%;
    margin-top: 50%;
    margin-bottom:100%;
    transform: translate(-50%, 50%);
    min-width: 230px;
    max-width: 100%;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .weddings-img-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 15s ease;
    transition: all 1s ease;
  }
  .weddings-img-wrapper img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .weddings-img-wrapper figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .weddings-img-wrapper h2,
  .weddings-img-wrapper p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .weddings-img-wrapper h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .weddings-img-wrapper p {
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
  }
  .weddings-img-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .weddings-img-wrapper:hover img,
  .weddings-img-wrapper.hover img {
    width: 55%;
    right: -10%;
  }
  .weddings-img-wrapper:hover figcaption h2,
  .weddings-img-wrapper.hover figcaption h2,
  .weddings-img-wrapper:hover figcaption p,
  .weddings-img-wrapper.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }








  

.projects-text-wrapper {
    background: #fff;
    text-align: center;
  }


  /* .projects-img-wrapper {
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  .projects-img {
    z-index: 100;
    left: 25%;
    transition: 2s;
  } */

  








  .projects-img-wrapper {
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    margin-left:50%;
    margin-top: 50%;
    margin-bottom:100%;
    transform: translate(-50%, 50%);
    min-width: 230px;
    max-width: 100%;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .projects-img-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 15s ease;
    transition: all 1s ease;
  }
  .projects-img-wrapper img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .projects-img-wrapper figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .projects-img-wrapper h2,
  .projects-img-wrapper p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .projects-img-wrapper h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .projects-img-wrapper p {
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
  }
  .projects-img-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .projects-img-wrapper:hover img,
  .projects-img-wrapper.hover img {
    width: 55%;
    right: -10%;
  }
  .projects-img-wrapper:hover figcaption h2,
  .projects-img-wrapper.hover figcaption h2,
  .projects-img-wrapper:hover figcaption p,
  .projects-img-wrapper.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  




  /*____________________________________________  BUTTONS FORMAT MOBILE ______________________________________ */

  .button {
    color:#fff;
    border:none;
    position:relative;
    height:3rem;
    font-size:1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    padding: 1rem;
  }
  .button:hover {
    background:#fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .button:active{
    color:#fff;
  }

  /* _________________________   PORTRAITS BUTTON  MOBILE  __________________________ */
.weddings-btn {
    background:#D0253C;
  }
  .weddings-btn:hover{
    color:#D0253C;
  }
  .weddings-btn:before,.weddings-btn:after{
    background: #D0253C;
  }
  .weddings-btn:active{
    background:#D0253C;
  }
  
  /* _________________________   PORTRAITS BUTTON  MOBILE  __________________________ */

  .portraits-btn {
    background:#2f2a50;
  }
  .portraits-btn:hover{
    color:#2f2a50;
  }
  .portraits-btn:before,.portraits-btn:after{
    background: #2f2a50;
  }
  .portraits-btn:active{
    background:#2f2a50;
  }
  /* _________________________   PROJECTS BUTTON   MOBILE  __________________________ */
  .projects-btn {
    background:#f4572A;
  }
  .projects-btn:hover{
    color:#f4572A;
  }
  .projects-btn:before,.projects-btn:after{
    background: #f4572A;
  }
  .projects-btn:active{
    background:#f4572A;
  }




}


.footerh {
    
    grid-row: 7 / 8;
    position: relative;
    margin-top: 130vh;
    background: #707070;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }
  .name {
    margin: auto 2rem;
    font-size: 1.5rem;
    color: #ffff;
    font-family: "Roboto";
    font-weight: 100;
    letter-spacing: .1rem;
  }
  .social {
    margin: auto 2rem auto auto;
  }
















/* _________________________ DESKTOP SITE CONFIGURATION _____________________________________________ */
@media  (min-width: 1000px) {


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
h2 {
    font-family: "Roboto", Arial, sans-ser;
}







.wrapper {
    display: flex; 
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;
                                /*  +++++++++  SNAP DESKTOP STUFF ++++++++++ */
    /* scroll-snap-type: mandatory;  */
    /* scroll-snap-points-y: repeat(3rem); */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.slide {
  width: 100vw;
  height: 100vh;
  
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: start;
  /*  +++++++++  SNAP  DESKTOP  STUFF ++++++++++ */
  /* scroll-snap-stop: always; */
}





.mute-btn {
    margin:2rem;
    width: 2rem;
    height: 2rem;
    

    z-index: 100;/* +++++++++++++ Remember that Z-INDEX only works after position: relative or absolute*/
    position: relative;

    border: none;
    background: url("media/mute.png") no-repeat;
    background-size: 2rem auto;/* to specify dimensions explicitly */
    cursor:pointer;
    opacity: .5;
}

.mute-btn:hover {
    opacity: 1;
}

.section-1 {
    background: #000;
    background-size: cover;
    width: 100vw;
    height:100vh;
}
.section-1-heading-wrapper{
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-50%, -60%);
}
.section-1-heading {
    font-family: Roboto;
    font-size: 2em;
    font-weight: 300;
    letter-spacing:.1em;

    opacity:0;
    animation:fadeIn 5s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale3d(.75, .75,1);
  }
  to {
    opacity: 1;
    transform: scale3d( 1, 1, 1);
  }
}
/*_______________________________________   H O M E    DESKTOP   ___________________________*/

.section-2 {
    width: 100vw;
    height:100vh;
}
.section-2-wrapper video{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    
}
#texture{
    z-index: 95;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url('media/texture.png');
    transition: 2000ms;
    
}
.home-options-wrapper {
    position: absolute;
}


#myVideo {
  filter: grayscale(100%);
  transition:4000ms;
}



#home-btns-wrapper {
    opacity: 0;
    /* position: relative;  +++++++ After a bizilion years, one container inside another, behold, the perfect centerization */
    position: absolute;
    z-index: 90;
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-50%, -50%);
    animation-delay: 1s;
    transition:35000ms;
}
.home-btn {
    margin: auto;
    color: #fff;
    
    cursor:pointer;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Roboto", serif;
    
    padding: 1rem;
    display:flex;
    width: 100vw;
    justify-content: center;
    background: transparent;
    border: none;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 13px #000, 0 0 25px #000;
    transition: 700ms;
}

.home-btn:hover {
    background: rgb(0, 0, 0, .4);
    padding: 2.5rem;
}
#click {
  height: 100vh;
  justify-content: center;/*THIS IS HOW YOU ACTUALY ALIGN STUFF ON A DIV*/
  align-content: end;
  object-fit:cover;
  display: grid;
  padding-bottom: 3rem;
}
#img-click {
  width: 100px;
  height: 100px;
  
}


  /*_________________________________   S E C T I O N   3   DESKTOP  ___________________________*/
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 20vh 35vh;
    margin: 0;
  }
  .section-3 h2 {
    margin: 3rem;
    text-align: center;
  }
  .weddings-introduction {
    margin-bottom: 1rem; 
  }
  .section-3 p {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Crimson Text";
  }

  
  .portraits-text-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: #ffff;
    text-align: center;
  }
  .portraits-heading {
    font-family: "Crimson Pro";
    font-size: 2rem;
    font-weight: 700;
  }
  /* .portraits-img-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    text-align: center;
    
  } */
  
  .portraits-img-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    /* margin: 10px 20px; */
    margin-left:50%;
    transform: translate(-50%, 0);
    min-width: 230px;
    max-width: 63%;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .portraits-img-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 15s ease;
    transition: all 1s ease;
  }
  .portraits-img-wrapper img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .portraits-img-wrapper figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .portraits-img-wrapper h2,
  .portraits-img-wrapper p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .portraits-img-wrapper h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .portraits-img-wrapper p {
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
  }
  .portraits-img-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .portraits-img-wrapper:hover img,
  .portraits-img-wrapper.hover img {
    width: 55%;
    right: -10%;
  }
  .portraits-img-wrapper:hover figcaption h2,
  .portraits-img-wrapper.hover figcaption h2,
  .portraits-img-wrapper:hover figcaption p,
  .portraits-img-wrapper.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }





















  .home-imgs {
    max-width: 100%;
    max-height: 100%;
  }
  .button {
    margin: 2rem;
  }
  /* .weddings-img-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
    text-align: center;
  } */


  .weddings-img-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    margin-left:50%;
    transform: translate(-50%, 0);
    min-width: 230px;
    max-width: 63%;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .weddings-img-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 15s ease;
    transition: all 1s ease;
  }
  .weddings-img-wrapper img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .weddings-img-wrapper figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .weddings-img-wrapper h2,
  .weddings-img-wrapper p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .weddings-img-wrapper h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .weddings-img-wrapper p {
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
  }
  .weddings-img-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .weddings-img-wrapper:hover img,
  .weddings-img-wrapper.hover img {
    width: 55%;
    right: -10%;
  }
  .weddings-img-wrapper:hover figcaption h2,
  .weddings-img-wrapper.hover figcaption h2,
  .weddings-img-wrapper:hover figcaption p,
  .weddings-img-wrapper.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }








  .weddings-text-wrapper {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: #ffff;
    text-align: center;
  }
  .weddings-heading {
    font-family: "Tangerine";
    font-size: 3rem;
  }
  .projects-text-wrapper {
    background: #fff;
    text-align: center;
  }
  .weddings-heading {
    font-family: "Tangerine";
    font-size: 3rem;
  }




  /* .projects-img-wrapper {
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  .projects-img {
    z-index: 100;
    left: 25%;
    transition: 2s;
  } */

  








  .projects-img-wrapper {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    /* margin: 10px 20px; */
    margin-left:50%;
    transform: translate(-50%, 0);
    min-width: 230px;
    max-width: 60%;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .projects-img-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 15s ease;
    transition: all 1s ease;
  }
  .projects-img-wrapper img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .projects-img-wrapper figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .projects-img-wrapper h2,
  .projects-img-wrapper p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .projects-img-wrapper h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .projects-img-wrapper p {
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
  }
  .projects-img-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .projects-img-wrapper:hover img,
  .projects-img-wrapper.hover img {
    width: 55%;
    right: -10%;
  }
  .projects-img-wrapper:hover figcaption h2,
  .projects-img-wrapper.hover figcaption h2,
  .projects-img-wrapper:hover figcaption p,
  .projects-img-wrapper.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }








  /*____________________________________________  BUTTONS FORMAT DESKTOP ______________________________________ */

  .button {
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .button:hover {
    background:#fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .button:active{
    color:#fff;
  }

  /* _________________________   PORTRAITS BUTTON  DESKTOP  __________________________ */
  .weddings-btn {
    background:#D0253C;
  }
  .weddings-btn:hover{
    color:#D0253C;
  }
  .weddings-btn:before,.weddings-btn:after{
    background: #D0253C;
  }
  .weddings-btn:active{
    background:#D0253C;
  }
  
  /* _________________________   PORTRAITS BUTTON  DESKTOP  __________________________ */

  .portraits-btn {
    background:#2f2a50;
  }
  .portraits-btn:hover{
    color:#2f2a50;
  }
  .portraits-btn:before,.portraits-btn:after{
    background: #2f2a50;
  }
  .portraits-btn:active{
    background:#2f2a50;
  }
  /* _________________________   PROJECTS BUTTON   DESKTOP  __________________________ */
  .projects-btn {
    background:#f4572A;
  }
  .projects-btn:hover{
    color:#f4572A;
  }
  .projects-btn:before,.projects-btn:after{
    background: #f4572A;
  }
  .projects-btn:active{
    background:#f4572A;
  }





  ::-webkit-scrollbar {
      display: none;
  }

}


.footerh {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  background: #707070;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1em;
  padding-right: 1em;
}
.name {
  margin: auto 2rem;
  font-size: 1.5rem;
  color: #ffff;
  font-family: "Roboto";
  font-weight: 100;
  letter-spacing: .1rem;
}
.social {
  margin: auto 2rem auto auto;
}
.source-img {
  max-width: 30%;
  margin-bottom: 2%;
}