@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* _________________________ Mobile SITE CONFIGURATION _____________________________________________ */
@media  (max-width: 999px) {


  *{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  outline: none;
  text-decoration: none;
  }


  .outer-wrapper {
    scroll-snap-type: mandatory; /*  +++++++++  SNAP   MOBILE  STUFF ++++++++++ */
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
  }
  .slide {
    width: 100vw;
    height: 100vh;
    
    scroll-snap-align: start;/*  +++++++++  SNAP  MOBILE  STUFF ++++++++++ */
    scroll-snap-stop: always;
  }








  .mute-btn {
    margin:1rem;
    width: 2rem;
    height: 2rem;
    

    z-index: 100;/* +++++++++++++ Remember that Z-INDEX only works after position: relative or absolute*/
    position: relative;

    border: none;
    background: url("media/mute.png") no-repeat;
    background-size: 2rem;/* to specify dimensions explicitly */
    cursor:pointer;
    opacity: .5;
  }

  .section-1 {
    background: #000;
    box-sizing: border-box;

    background-size: cover;
    width: 100vw;
    height:100vh;

    position: relative;
    z-index: 0;
  }
  .section-1-wrapper {
    background-size: cover;
    width: 100px;
    height:100px;

  }
  .section-1-heading-wrapper{
    position: absolute;
    text-align: center;
    color: #fff;


    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-55%, -65%);
  }
  .section-1-heading {
    font-family: Roboto;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing:.1em;
    text-align: center;
  }
  /*_______________________________________   H O M E     M O B I L E   ___________________________*/
  
  .section-2 {
    /* background: green; */
    width: 100vw;
    height:100vh;
  }
  .section-2-wrapper video{
      z-index: -1;
      width: 100vw;
      height: 100vh;
      position: absolute;
      object-fit: cover;
      
  }
  
  .texture{
    /* z-index: 95; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url('media/texture.png');
  }

  .home-options-wrapper {
    position: absolute;
  }
  .home-btns-wrapper {
      
    /* position: relative;  +++++++ After a bizilion years, one container inside another, behold, the perfect centerization */
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-50%, -50%);
    
  }

  .home-btn {
    margin: auto;

    color: #fff;
    
    cursor:pointer;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Roboto", serif;
    
    padding: 1rem;
    display:flex;
    width: 100vw;
    justify-content: center;
    background: transparent;
    border: none;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 13px #000, 0 0 25px #000;
    transition: 1000ms;
  }

  .home-btn:hover {
    background: rgb(0, 0, 0, .4);
    
  }


  /*_________________________________   S E C T I O N   3   MOBILE  ___________________________*/
  .section-3 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-row: 1fr 1fr;
  
    /* ++++++++++++++++ DUDE, DUUUUDE, this is what makes alignment fly */
    /* display: flex; */
  }

  
.text-wrapper {

  max-width: 800px;
  margin: 5vh auto;
  }
  .text-wrapper h2 {
    margin-top: 1rem;
    margin-left: 3rem;
  }
  .text-wrapper p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
  }
  .question {
    font-weight: bold;
  }
  .buttons-options {
    max-width: 100%;
    justify-content: center;
  }

  .autum-wrapper img{
    width: 100vw;
  }
  .buttons-options {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }





  /*____________________________________________  BUTTONS FORMAT DESKTOP ______________________________________ */

  .button {
    color:#fff;
    border:none;
    position:relative;
    height:3rem;
    font-size:1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    padding: 1rem;
  }
  .button:hover {
    background:#fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .button:active{
    color:#fff;
  }

  /* _________________________   PORTRAITS BUTTON  MOBILE  __________________________ */
.weddings-btn {
    background:#D0253C;
  }
  .weddings-btn:hover{
    color:#D0253C;
  }
  .weddings-btn:before,.weddings-btn:after{
    background: #D0253C;
  }
  .weddings-btn:active{
    background:#D0253C;
  }
  
  /* _________________________   PORTRAITS BUTTON  MOBILE  __________________________ */

  .portraits-btn {
    background:#2f2a50;
  }
  .portraits-btn:hover{
    color:#2f2a50;
  }
  .portraits-btn:before,.portraits-btn:after{
    background: #2f2a50;
  }
  .portraits-btn:active{
    background:#2f2a50;
  }
  /* _________________________   PROJECTS BUTTON   MOBILE  __________________________ */
  .projects-btn {
    background:#f4572A;
  }
  .projects-btn:hover{
    color:#f4572A;
  }
  .projects-btn:before,.projects-btn:after{
    background: #f4572A;
  }
  .projects-btn:active{
    background:#f4572A;
  }




}












/* _________________________ DESKTOP SITE CONFIGURATION _____________________________________________ */
@media  (min-width: 1000px) {


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
h2 {
    font-family: "Roboto", Arial, sans-ser;
}







.wrapper {
    display: flex; 
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;

    scroll-snap-type: mandatory; /*  +++++++++  SNAP DESKTOP STUFF ++++++++++ */
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}

.slide {
  width: 100vw;
  height: 100vh;
  
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: start;/*  +++++++++  SNAP  DESKTOP  STUFF ++++++++++ */
  scroll-snap-stop: always;
}





.mute-btn {
    margin:2rem;
    width: 2rem;
    height: 2rem;
    

    z-index: 100;/* +++++++++++++ Remember that Z-INDEX only works after position: relative or absolute*/
    position: relative;

    border: none;
    background: url("media/mute.png") no-repeat;
    background-size: 2rem auto;/* to specify dimensions explicitly */
    cursor:pointer;
    opacity: .5;
}

.mute-btn:hover {
    opacity: 1;
}

.section-1 {
    background: #000;
    background-size: cover;
    width: 100vw;
    height:100vh;
}
.section-1-heading-wrapper{
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-50%, -60%);
}
.section-1-heading {
    font-family: Roboto;
    font-size: 2em;
    font-weight: 300;
    letter-spacing:.1em;
}
/*_______________________________________   H O M E    DESKTOP   ___________________________*/

.section-2 {
    /* background: green; */
    width: 100vw;
    height:100vh;
}
.section-2-wrapper video{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    
}
.texture{
    /* z-index: 95; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url('media/texture.png');
}
.home-options-wrapper {
    position: absolute;
}
.home-btns-wrapper {
    
    /* position: relative;  +++++++ After a bizilion years, one container inside another, behold, the perfect centerization */
    padding-top: 100vh;
    padding-left:100vw;
    transform: translate(-50%, -50%);
    
}
.home-btn {
    margin: auto;

    color: #fff;
    
    cursor:pointer;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Roboto", serif;
    
    padding: 1rem;
    display:flex;
    width: 100vw;
    justify-content: center;
    background: transparent;
    border: none;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 13px #000, 0 0 25px #000;
    transition: 1000ms;
}

.home-btn:hover {
    background: rgb(0, 0, 0, .4);
    
}


/*_________________________________   S E C T I O N   3   DESKTOP  ___________________________*/
.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
  }

  .introduction-wrapper {
    margin-top: 50vh;
    transform: translate(0%, -50%);
  }
  .text-wrapper {
    max-width: 800px;
    margin: 10vh auto;
  }
  .buttons-options {
    width: 100%;
    margin-top: 6rem;
    display: flex;/*         THIS PLUS   JUSTIFY CONTENT !!!*/
    justify-content: space-evenly; 
  }

 .autum-wrapper {
    width: 50vw;
    height: 100vh;
  }


  .autum-img {
      height:100vh;
  }
.introduction-wrapper h2{
    font-size:2rem;
    padding: 2rem;
    font-weight: 500;
}
.introduction-wrapper .introduction {
    font-family: "Crimson Pro", serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
}
.introduction-wrapper .question {
    font-family: "Crimson Pro", serif;
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 2rem;
 }
/*____________________________________________  BUTTONS FORMAT DESKTOP ______________________________________ */

  .button {
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .button:hover {
    background:#fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .button:active{
    color:#fff;
  }

  /* _________________________   PORTRAITS BUTTON  DESKTOP  __________________________ */
.weddings-btn {
    background:#D0253C;
  }
  .weddings-btn:hover{
    color:#D0253C;
  }
  .weddings-btn:before,.weddings-btn:after{
    background: #D0253C;
  }
  .weddings-btn:active{
    background:#D0253C;
  }
  
  /* _________________________   PORTRAITS BUTTON  DESKTOP  __________________________ */

  .portraits-btn {
    background:#2f2a50;
  }
  .portraits-btn:hover{
    color:#2f2a50;
  }
  .portraits-btn:before,.portraits-btn:after{
    background: #2f2a50;
  }
  .portraits-btn:active{
    background:#2f2a50;
  }
  /* _________________________   PROJECTS BUTTON   DESKTOP  __________________________ */
  .projects-btn {
    background:#f4572A;
  }
  .projects-btn:hover{
    color:#f4572A;
  }
  .projects-btn:before,.projects-btn:after{
    background: #f4572A;
  }
  .projects-btn:active{
    background:#f4572A;
  }





  ::-webkit-scrollbar {
      display: none;
  }

}